body{
    margin: 0px;
}
p{
    font-size: large;
}
h2{
    font-size: 40px;
    position: relative;
    top: 40px;
}
h1{
    font-size: 60px;

}
.name{
    color: darksalmon;
}
.left{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.left img{
    position:relative;
    
    width: 100%;
}
section{
    height: 500px;
}
.link{
    text-decoration: none;
    font-family: monospace;
    border: 2px solid orange;
    border-radius: 5px;
    padding:10px 20px;
  background-color: orange;
  color: aliceblue;
  font-weight: 700;
  font-size: 20px;
}
.top{
    background-image: url("header-bg.png");
    background-repeat: no-repeat;
    width: 100%;
}
.middle{
    position: relative;
    top: 40px;
    background-image: url("biography-bg.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}
#bio{
    color: rgb(238, 143, 79);
}
#midlink{
  align-items: center;
    text-decoration: none;
    border-radius: 5px;
    padding:10px 20px;
    color: aliceblue;
    background-color: rgb(165, 247, 34);
    font-weight: 700;
  font-size: 20px;
}
.work{
    float: left;
    width: 15%;
    margin-left: 3%;
    padding: 3%;
    height: 50%;
    
    box-shadow: 10px 10px 40px lightsteelblue ;
    display: block; 
   

}
.im{
   
    width: 100%;
   
  

}
#lastwork{
    text-align: center;
}

.last{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    width: 100%;
}
.workname{
    color: rgb(189, 123, 243);
}
#lastwork{
    border-radius: 5px;
    padding:10px 20px;
    color: rgb(60, 62, 65);
    
    font-weight: 700;
}
.footer{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    width: 100%;
}
.foot{
    text-align: center;
}
.dlast{
    position: relative;
    left: 20%;
    background-color: rgb(240, 183, 193);
    width: 60%;
    align-content: center;
    box-shadow: 10px 10px 40px rgb(226, 128, 98) ;
    padding: 10px;
    height: 250px;;
    
}
.logo{
    position: relative;
    float: left;
    width:10%;
 margin: 10%;
 bottom:30%;
}
.llogo{
    width:100px;
    height: 100px;
    padding: 20%;
    margin:10%;
}
#credit{
    position: relative;
    top: 70px;
right: 40px;
    text-align: center;
}